html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
}

a {
  color: teal;
  text-decoration: none;
}

.converter-container {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 0 auto;
}